html , body
	{
	height:100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
body
	{
	}
#container
	{
	position:relative;
	width:320px;
	background-color:#2c5b8f;
	background-image:-moz-linear-gradient(rgba(255,255,255,0.15),rgba(0,0,0,0.15));
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.15)), to(rgba(0,0,0,0.15)));
	margin-left:auto;
	margin-right:auto;
	height: 416px;
	}
#levelup, #gamecompleted {
	display:none;
	position: relative;
	width:260px;
	text-align:center;
	height:50px;
	line-height:50px;
	font-family:Slackey;
	color:#fff;
	margin-left:auto;
	margin-right:auto;
	font-size:24px;
	background-image:-moz-linear-gradient(rgba(255,255,255,0.15),rgba(0,0,0,0.15));
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.15)), to(rgba(0,0,0,0.15)));
	color:#fff;
	text-shadow:#000 0px 1px 0px;
	background-color:#162545;
	border-radius:8px;
}
#outer{
height:100%;
width:100%;
display:table;
vertical-align:middle;
}
#wrapper{
	vertical-align: middle;
	display:table-cell;
	height:416px;	
}
/*#spacer {
	width: 10px;
	background-color: red;
	height: 100%;
	display: inline-table;
	vertical-align: middle;
}*/

#main-menu
	{
	padding-top:78px;
	}	
#main-menu a
	{
	display:block;
	width:260px;
	text-align:center;
	height:50px;
	line-height:50px;
	font-family:Slackey;
	color:#fff;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:15px;
	font-size:24px;
	background-image:-moz-linear-gradient(rgba(255,255,255,0.15),rgba(0,0,0,0.15));
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.15)), to(rgba(0,0,0,0.15)));
	color:#fff;
	text-shadow:#000 0px 1px 0px;
	background-color:#162545;
	border-radius:8px;
	}
#main-menu a.button-inactive
	{
	color:rgba(255,255,255,0.5);
	}
#main-menu a:active
	{
	font-size:28px;
	background-color:#0f1a31;
	background-image:-moz-linear-gradient(rgba(0,0,0,0.15),rgba(255,255,255,0.15));
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.15)), to(rgba(255,255,255,0.15)));
	}
#levels
	{
	padding:10px;
	}
#levels h1
	{
	font-family:Slackey;
	text-align:center;
	height:50px;
	line-height:50px;
	font-size:24px;
	color:#fff;
	text-shadow:#000 0px 1px 0px;
	}
#levels a.level
	{	
	display:block;
	float:left;
	width:58px;
	height:58px;
	line-height:58px;
	margin:7px;
	border:1px solid rgba(0,0,0,0.1);
	font-size:32px;
	color:#fff;
	text-shadow:#000 0px 1px 0px;
	background-image:-moz-linear-gradient(rgba(255,255,255,0.15),rgba(0,0,0,0.15));
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.15)), to(rgba(0,0,0,0.15)));
	text-shadow:#000 0px 1px 0px;
	background-color:#162545;
	border-radius:8px;
	font-family:Slackey;
	text-align:center;
	position:relative;
	}
#levels a.level:active
	{
	font-size:36px;
	background-color:#0f1a31;
	background-image:-moz-linear-gradient(rgba(0,0,0,0.15),rgba(255,255,255,0.15));
	background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.15)), to(rgba(255,255,255,0.15)));
	}
#levels a.level-locked
	{
	color:rgba(255,255,255,0.5);
	}
#levels a.level b
	{
	position:absolute;
	left:0px;
	top:0px;
	width:58px;
	height:58px;
	background:transparent url(http://icons.iconarchive.com/icons/newidols.ru/shop/48/lock-icon.png) center center no-repeat;
	}
#game h1
	{
	font-family:Slackey;
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:24px;
	padding-top:0px;
	color:#fff;
	text-shadow:#000 0px 1px 0px;
	}
#container canvas
	{
	position:absolute;
	left:5px;
	top:40px;
	width:310px;
	height:310px;
	}
#container #canvas1
	{
	z-index:1;
	}
#container #canvas2
	{
	z-index:2;
	}
#game a
	{
	position:absolute;
	top:354px;
	height:30px;
	width:30px;
	border:2px solid #fff;
	border-radius:3px;
	margin:10px;
	}
#game a.selected
	{
	margin:2px;
	height:48px;
	width:48px;
	}
#game a.red { background:#f84732;left:40px; }
#game a.green { background:#63b352;left:102px; }
#game a.blue { background:rgb(34,169,253);right:102px; }
#game a.yellow { background:#fed100;right:40px; }

#rotnot {
	display:none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation : landscape) {
    #container {
    	display:none;
    }
    #rotnot {
		display:block;
		width:260px;
		text-align:center;
		height:100px;
		line-height:50px;
		font-family:Slackey;
		color:#fff;
		margin-left:auto;
		margin-right:auto;
		font-size:24px;
		background-image:-moz-linear-gradient(rgba(255,255,255,0.15),rgba(0,0,0,0.15));
		background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.15)), to(rgba(0,0,0,0.15)));
		color:#fff;
		text-shadow:#000 0px 1px 0px;
		background-color:#162545;
		border-radius:8px;
    }
}